<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Connect Four Ex" %></h2>
  <p class="lead">A game that does not compromise fun and competitiveness.</p>
</div>

<div class="row">
  <p>
    This is a project for me to learn about Elixir and Phoenix.
  </p>
</div>

