<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if @current_user do %>
    <%= tag :meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user salt", @current_user.id) %>
    <% end %>

    <title>Connect Four</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </head>

  <body>
    <div class="row">
      <nav class="blue darken-4">
        <div class="container">
          <div class="nav-wrapper">
            <div class="col s12">
              <a href="/" class="brand-logo">Connect Four</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <%= if @current_user do %>
                <li>
                  <%= link "Sign Out", to: session_path(@conn, :delete, @current_user), method: :delete %>
                </li>
                <% else %>
                <li>
                  <%= link "Sign In", to: session_path(@conn, :new) %>
                </li>
                <li>
                  <%= link "Register", to: user_path(@conn, :new) %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <p class="alert alert-info center green-text text-darken-4" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger center red-text text-darken-4" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
